.block{
    background:red;
    display:block;
    /* width:50%; */
  }
  
  .inline {
    background:orange;
    display:inline;
    /* width:50%; */
  }
  
  .inline-block{
    background:pink;
    display:inline-block;
    /* width:50%; */
  }
  img{
    width:40vw;
    /* display:block; */
    /* width:800px; */
  }

  body{
    text-align: center;
  }